unidad6/XSD/Tareas-DAM/Tarea 1 - Evaluable/test-recetas.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name=" recetas" type="recetasType" />

	<xs:complexType name="ingredientType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:byte" name="cantidad" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="stepType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:byte" name="paso" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="ingredientsType">
		<xs:sequence>
			<xs:element type="ingredientType" name="ingredient" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
		<xs:attribute type="xs:byte" name="comensales" />
	</xs:complexType>

	<xs:complexType name="preparationType">
		<xs:sequence>
			<xs:element type="stepType" name="step" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
		<xs:attribute type="xs:string" name="tiempo" />
	</xs:complexType>
	
	<xs:complexType name="recetaType">
		<xs:sequence>
			<xs:element type="xs:string" name="nombre-receta" />
			<xs:element type="xs:string" name="description" />
			<xs:element type="ingredientsType" name="ingredients" />
			<xs:element type="preparationType" name="preparation" />
		</xs:sequence>
		<xs:attribute type="xs:string" name="dificultad" />
		<xs:attribute type="xs:string" name="picture" />
		<xs:attribute type="xs:string" name="author" />
		<xs:attribute type="xs:string" name="country" />


	</xs:complexType>

	<xs:complexType name="recetasType">
		<xs:sequence>
			<xs:element type="recetaType" name="receta" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>