unidad6/XSD/Tareas-DAM/03-animales.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" id="animales">
<!-- <xs:element name="perro" type="string"/>
<xs:element name="gato" type="string"/> -->

<!-- Complex -->
<xs:element name="animales">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="perro"/>
			<xs:element name="gato"/>
						</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>
