Tareas-DAM/Tarea 2 - Evaluable/agendaVersionDos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" id="agendaVersionDos">

	<xs:complexType name="diaType">
		<xs:sequence>
		<xs:element name="dia" type="xs:int"/>
		<xs:element name="mes" type="xs:int"/>
		<xs:element name="año" type="xs:int"/>
		</xs:sequence>
		</xs:complexType>

		<xs:complexType name="dia">
			<xs:sequence>
				<xs:element name="diaType"/>
			</xs:sequence>
		</xs:complexType>

		<xs:element name="diaHora">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dia"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>