Tareas-DAM/Tarea 3 - Practicas/biblioteca-01.xsd

<xs:schema attributeFormDefault="unqualified" 
elementFormDefault="qualified" 
xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- Definición de tipos de elementos y atributos -->

	<xs:simpleType name="tipo_codigo_socio">
<xs:restriction base="xs:integer">
	<xs:minInclusive value="10000"/> 
	<xs:maxInclusive value="99999"/>
</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tipo_ISBN_digitos">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0000000001"/> 
			<xs:maxInclusive value="9999999999999"/>
		</xs:restriction>
			</xs:simpleType>

	<xs:simpleType name="tipo_ISBN_caracteres">
		<xs:restriction base="xs:string">
			<xs:minLength value="10" />
			<xs:maxLength value="13" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="t_telefono">
		<xs:restriction base="xs:string">
			<xs:pattern value="\(?\+[0-9]{1,3}\)? ?-?[0-9]{1,3} ?-?[0-9]{3,5} ?-?[0-9]{4}( ?-?[0-9]{3})? ?(\w{1,10}\s?\d{1,6})?" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tipo_booleano">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Si" />
			<xs:enumeration value="No" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tipo_integer_positivo">
		<xs:restriction base="xs:positiveInteger">
		<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tipo_byte">
		<xs:restriction base="xs:byte" />
	</xs:simpleType>

	<xs:simpleType name="tipo_fecha">
		<xs:restriction base="xs:date" />
	</xs:simpleType>

	<xs:simpleType name="tipo_texto_varchar">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tipo_dia">
		<xs:restriction base="xs:integer">
			<xs:pattern value="(0[1-9]|[12]\d|3[01])" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tipo_mes">
		<xs:restriction base="xs:string">
			<xs:pattern value="Enero|Febrero|Marzo|Abril|Mayo|Junio|Julio|Agosto|Septiembre|Octubre|Noviembre|Diciembre" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tipo_anyo">
		<xs:restriction base="xs:short">
			<xs:pattern value="[2020-2199]{4}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tipo_email">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9a-z._%+-]+@[A-Za-z0-9.-]+.[A-Za-z]{2,64}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tipo_tiempo">
		<xs:restriction base="xs:integer">
			<xs:pattern value="/^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tipo_dificultad">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Fácil" />
			<xs:enumeration value="Media" />
			<xs:enumeration value="Difícil" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tipo_pais">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{2,}" />
<!-- Comento porque falla la validación en algunos casos, dejo un patron mas amplio 
				<xs:pattern value="^(AF|AX|AL|DZ|AS|AD|AO|AI|AQ|AG|AR|AM|AW|AU|AT|AZ|BS|BH|BD|BB|BY|BE|BZ|BJ|BM|BT|BO|BQ|BA|BW|BV|BR|IO|BN|BG|BF|BI|KH|CM|CA|CV|KY|CF|TD|CL|CN|CX|CC|CO|KM|CG|CD|CK|CR|CI|HR|CU|CW|CY|CZ|DK|DJ|DM|DO|EC|EG|SV|GQ|ER|ES|EE|ET|FK|FO|FJ|FI|FR|GF|PF|TF|GA|GM|GE|DE|GH|GI|GR|GL|GD|GP|GU|GT|GG|GN|GW|GY|HT|HM|VA|HN|HK|HU|IS|IN|ID|IR|IQ|IE|IM|IL|IT|JM|JP|JE|JO|KZ|KE|KI|KP|KR|KW|KG|LA|LV|LB|LS|LR|LY|LI|LT|LU|MO|MK|MG|MW|MY|MV|ML|MT|MH|MQ|MR|MU|YT|MX|FM|MD|MC|MN|ME|MS|MA|MZ|MM|NA|NR|NP|NL|NC|NZ|NI|NE|NG|NU|NF|MP|NO|OM|PK|PW|PS|PA|PG|PY|PE|PH|PN|PL|PT|PR|QA|RE|RO|RU|RW|BL|SH|KN|LC|MF|PM|VC|WS|SM|ST|SA|SN|RS|SC|SL|SG|SX|SK|SI|SB|SO|ZA|GS|SS|ES|LK|SD|SR|SJ|SZ|SE|CH|SY|TW|TJ|TZ|TH|TL|TG|TK|TO|TT|TN|TR|TM|TC|TV|UG|UA|AE|GB|US|UM|UY|UZ|VU|VE|VN|VG|VI|WF|EH|YE|ZM|ZW|AFG|ALB|DZA|ASM|AND|AGO|AIA|ATA|ATG|ARG|ARM|ABW|AUS|AUT|AZE|BHS|BHR|BGD|BRB|BLR|BEL|BLZ|BEN|BMU|BTN|BOL|BIH|BWA|BVT|BRA|IOT|VGB|BRN|BGR|BFA|BDI|KHM|CMR|CAN|CPV|CYM|CAF|TCD|CHL|CHN|CXR|CCK|COL|COM|COD|COG|COK|CRI|CIV|CUB|CYP|CZE|DNK|DJI|DMA|DOM|ECU|EGY|SLV|GNQ|ERI|EST|ETH|FRO|FLK|FJI|FIN|FRA|GUF|PYF|ATF|GAB|GMB|GEO|DEU|GHA|GIB|GRC|GRL|GRD|GLP|GUM|GTM|GIN|GNB|GUY|HTI|HMD|VAT|HND|HKG|HRV|HUN|ISL|IND|IDN|IRN|IRQ|IRL|ISR|ITA|JAM|JPN|JOR|KAZ|KEN|KIR|PRK|KOR|KWT|KGZ|LAO|LVA|LBN|LSO|LBR|LBY|LIE|LTU|LUX|MAC|MKD|MDG|MWI|MYS|MDV|MLI|MLT|MHL|MTQ|MRT|MUS|MYT|MEX|FSM|MDA|MCO|MNG|MSR|MAR|MOZ|MMR|NAM|NRU|NPL|ANT|NLD|NCL|NZL|NIC|NER|NGA|NIU|NFK|MNP|NOR|OMN|PAK|PLW|PSE|PAN|PNG|PRY|PER|PHL|PCN|POL|PRT|PRI|QAT|REU|ROU|RUS|RWA|SHN|KNA|LCA|SPM|VCT|WSM|SMR|STP|SAU|SEN|SCG|SYC|SLE|SGP|SVK|SVN|SLB|SOM|ZAF|SGS|ESP|LKA|SDN|SUR|SJM|SWZ|SWE|CHE|SYR|TWN|TJK|TZA|THA|TLS|TGO|TKL|TON|TTO|TUN|TUR|TKM|TCA|TUV|VIR|UGA|UKR|ARE|GBR|UMI|USA|URY|UZB|VUT|VEN|VNM|WLF|ESH|YEM|ZMB|ZWE)$" />
 -->		</xs:restriction>
	</xs:simpleType>


	<!-- ? Definición de estructura Venetian Blind -->

	<xs:complexType name="ingredientType">
		<xs:simpleContent>
			<xs:extension base="tipo_texto_varchar">
				<xs:attribute type="tipo_integer_positivo" name="cantidad" use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="stepType">
		<xs:simpleContent>
			<xs:extension base="tipo_texto_varchar">
				<xs:attribute type="tipo_integer_positivo" name="paso" use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="review-dateType">
		<xs:sequence>
			<xs:element type="tipo_dia" name="day" />
			<xs:element type="tipo_mes" name="month" />
			<xs:element type="tipo_anyo" name="year" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="user-reviewType">
		<xs:sequence>
			<xs:element type="tipo_texto_varchar" name="review-text" />
			<xs:element type="tipo_email" name="review-email" />
			<xs:element type="tipo_byte" name="review-points" />
			<xs:element type="review-dateType" name="review-date" />
		</xs:sequence>
		<xs:attribute type="tipo_texto_varchar" name="usuario" />
	</xs:complexType>

	<xs:complexType name="ingredientsType">
		<xs:sequence>
			<xs:element type="ingredientType" name="ingredient" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
		<xs:attribute type="tipo_integer_positivo" name="comensales" use="optional" />
	</xs:complexType>

	<xs:complexType name="preparationType">
		<xs:sequence>
			<xs:element type="stepType" name="step" maxOccurs="unbounded" minOccurs="1"/>
		</xs:sequence>
		<xs:attribute type="xs:string" name="tiempo" use="optional" />
	</xs:complexType>
	<xs:complexType name="scoreType">
		<xs:sequence>
			<xs:element type="user-reviewType" name="user-review" />
			<xs:element type="user-reviewType" name="user-review" />
		</xs:sequence>
		<xs:attribute type="tipo_byte" name="average_points" use="optional" />
	</xs:complexType>

	<xs:complexType name="recetaType">
		<xs:sequence>
			<xs:element type="tipo_texto_varchar" name="nombre-receta" />
			<xs:element type="tipo_texto_varchar" name="description" />
			<xs:element type="ingredientsType" name="ingredients" />
			<xs:element type="preparationType" name="preparation" />
			<xs:element type="scoreType" name="score" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute type="tipo_dificultad" name="dificultad" use="optional" />
		<xs:attribute type="tipo_texto_varchar" name="picture" use="optional" />
		<xs:attribute type="tipo_texto_varchar" name="author" use="optional" />
		<xs:attribute type="tipo_pais" name="country" use="optional" />

	</xs:complexType>

	<xs:complexType name="recetasType">
		<xs:sequence>
			<xs:element type="recetaType" name="receta" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="recetas" type="recetasType" />

</xs:schema>